*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: black;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

div{
    
    margin: 0 auto;
    text-align: center;
    align-items: center;
}


.days{
    margin: 10px;
}